# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled Output
dist
tmp
out-tsc
common/temp
.bin
temp
lib
lib-commonjs
screenshots
.cache

# next.js build output
.next
.out

# dotenv environment variables file
.env
.env.build

# Dependencies
node_modules
.yarn-integrity
.pnp
.pnp.js
package-lock.json

# Production
build*

# Logs
npminstall-log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pacakge-lock.json

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
testem.log
typings

# System Files
.DS_Store
Thumbs.db

# Storybook Build
storybook-static/

*~
*swp
*swo

.eslintcache

package-manifest.json
